.payment-container {
    position: relative;
    background: #fff;
    -webkit-filter: drop-shadow(rgba(0,0,0,0.2) 0px 1px 2px);
}

  .dashed-border {
    border-bottom: 3px dashed #1A85FD;
}

.form-spinner {
  position: absolute;
  right: 0;
}