<div class="text-center m-auto d-block height-100 pt-4 pb-4 pr-4 pl-4">
        <mat-card class="m-auto col col-lg-4 pr-5 pl-5">
            <div class="d-flex flex row justify-content-center align-items-end">
                <img src="../../../assets/img/hermes-title-purchase.svg" class="cursor-pointer" (click)="goHome()">
                <div class="d-flex flex-row mt-4 justify-content-center">
                    <span class="h1 text-dark font-weight-bold mr-2 mb-0">$200</span>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div class="ml-1 d-flex flex-column h6 text-muted justify-content-center align-items-center font-weight-normal mb-0">
                        <span>por</span>
                        <span>mes</span>
                    </div>
                </div>
            </div>
            <form [formGroup]="paymentForm" class="mt-5 mb-5 d-flex flex-column align-items-center">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre de la empresa</mat-label>
                    <mat-icon matSuffix>business_center</mat-icon>
                    <input matInput formControlName="company">
                    <mat-error *ngIf="paymentForm.get('company').invalid">Debe ingresar el nombre de la empresa</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix>email</mat-icon>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="paymentForm.get('email').invalid">Debe ingresar un email valido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Numero de tarjeta</mat-label>
                    <mat-icon matSuffix>credit_card</mat-icon>
                    <input matInput formControlName="card">
                    <mat-error *ngIf="paymentForm.get('card').invalid">Debe ingresar un numero de tarjeta de credito
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre en la tarjeta</mat-label>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="paymentForm.get('name').invalid">Debe ingresar el nombre de la tarjeta de credito
                    </mat-error>
                </mat-form-field>
                <div class="w-100 m-auto">
                    <mat-form-field appearance="outline" class="col-6 p-0 pr-2">
                        <mat-label>MMYY</mat-label>
                        <mat-icon matSuffix>calendar_today</mat-icon>
                        <input matInput formControlName="date">
                        <mat-error *ngIf="paymentForm.get('date').invalid">Debe ingresar una fecha de vencimiento
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-6 p-0 pl-2">
                        <mat-label>CVC</mat-label>
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput formControlName="cvc">
                        <mat-error *ngIf="paymentForm.get('cvc').invalid">Debe ingresar el codigo de seguridad</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <button mat-flat-button class="bg-dark text-light mb-2" (click)="validateForm()">ADQUIRIR</button>
        </mat-card>
    </div>