<div class="d-flex flex-column bg-white h-100 pr-3 pl-3">
    <div class="d-flex flex-row justify-content-between">
        <h5 class="mt-4">Cuenta</h5>
        <button mat-icon-button (click)="hideAccount()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="profile-button-edit mb-4" (click)="changeProfileImage()" matTooltip="modificar"
            matTooltipPosition="above">
            <img src="../../../assets/profile_imgs/pi_{{userData.profile_img}}.svg" class="profile-img">
        </div>
        <mat-form-field appearance="outline" class="w-100 font-14">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" [(ngModel)]="formUserData.name" (input)="markNameAsTouched($event)">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 font-14">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="formUserData.email" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100" *ngIf="!showPasswordChange">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Contraseña" [(ngModel)]="password" (click)="togglePasswordChange()" readonly>
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <div *ngIf="showPasswordChange">
            <form [formGroup]="changePasswordForm">
                <mat-form-field appearance="outline" class="w-100 font-14">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput type="text" placeholder="Contraseña actual"
                        [type]="hidePassActual ? 'password' : 'text'" formControlName="passActual">
                    <button mat-icon-button matSuffix (click)="hidePassActual = !hidePassActual"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassActual">
                        <mat-icon>{{hidePassActual ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePasswordForm.get('passActual').invalid">Debe ingresar una contraseña
                        alfanumerica de 8 caracteres como minimo</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 font-14">
                    <mat-label>Contraseña nueva</mat-label>
                    <input matInput type="text" placeholder="Contraseña nueva"
                        [type]="hidePassNew1 ? 'password' : 'text'" formControlName="passNew1"
                        (change)="setPassNew2Validation()">
                    <button mat-icon-button matSuffix (click)="hidePassNew1 = !hidePassNew1"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassNew1">
                        <mat-icon>{{hidePassNew1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePasswordForm.get('passNew1').invalid">Debe ingresar una contraseña
                        alfanumerica de 8 caracteres como minimo</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 font-14">
                    <mat-label>Repita contraseña nueva</mat-label>
                    <input matInput type="text" placeholder="Repita contraseña nueva"
                        [type]="hidePassNew2 ? 'password' : 'text'" formControlName="passNew2">
                    <button mat-icon-button matSuffix (click)="hidePassNew2 = !hidePassNew2"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassNew2">
                        <mat-icon>{{hidePassNew2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePasswordForm.get('passNew2').invalid">Las contraseñas deben coincidir
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <div class="d-flex flex-row mt-4">
            <button mat-flat-button class="mr-3"
                [ngClass]="{'primary-apply-btn ': isUserModified, 'primary-apply-btn-disabled': !isUserModified }"
                [disabled]="!isUserModified" (click)="modifyUserData()">MODIFICAR</button>
            <button mat-stroked-button [disabled]="!isUserModified" (click)="resetData()">DESHACER</button>
        </div>
    </div>


</div>