<div class="col col-md-4 text-center m-auto d-flex flex-column justify-content-center align-items-center height-100">
    <mat-card class="bg-light">
        <div class="row mb-4 mt-3">
            <img src="../../../assets/img/hermes-title.svg" class="m-auto">
        </div>
        <div>
            <form [formGroup]="loginForm">
                    <mat-form-field appearance="fill" class="w-75 mb-3">
                            <mat-label>Ingrese usuario</mat-label>
                        <input matInput type="text" placeholder="usuario@hermes.com" formControlName="email">
                        <mat-error *ngIf="loginForm.get('email').invalid">Debe ingresar un username (email)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-75 mb-4">
                            <mat-label>Ingrese password</mat-label>
                        <input matInput type="text" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password').invalid">Debe ingresar una contraseña</mat-error>
                    </mat-form-field>
            </form>
        </div>
        <button mat-flat-button class="bg-dark text-light mb-2" (click)="validateForm()">LOGIN</button>
    </mat-card>
    <span class="mt-3 text-secondary font-weight-light">Todavia no dispones del servicio? <span class="text-dark font-weight-normal cursor-pointer text-link" (click)="goPurchase()">Contratalo</span></span>
</div>