<div class="d-flex flex-row justify-content-between">
    <h1 mat-dialog-title class="mt-4">Agregar nuevo canal</h1>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content class="d-flex flex-column mr-4">
    <form [formGroup]="addChannelForm">
        <mat-form-field class="w-100" floatLabel="never">
            <input matInput placeholder="nombreDelCanal" formControlName="channelName" [disabled]="creatingChannel">
            <span matPrefix class="font-weight-bold">#</span>
            <mat-error *ngIf="addChannelForm.controls.channelName.hasError('required')">Debe ingresar un nombre para identificar el nuevo canal</mat-error>
            <mat-error *ngIf="addChannelForm.controls.channelName.hasError('pattern')">El nombre del canal no debe contener espacios</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 overflow-hidden" appearance="outline">
                <mat-progress-spinner class="form-spinner" [hidden]="usersLoaded" mode="indeterminate" [diameter]="20">
                    </mat-progress-spinner>
            <input 
            [readonly]="!usersLoaded" 
            [disabled]="creatingChannel"
            matInput placeholder="Agregar integrante..." 
            formControlName="user" [(ngModel)]="user" 
            [matAutocomplete]="autoUser"
            (keydown.tab)="addUser()"
            (keydown.enter)="addUser()">
            <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayFn" (optionSelected)="loadOptionSelected($event)">
                <mat-option *ngFor="let element of filteredUsers | async" [value]="element">
                  <span>{{element.name}}</span><span class="text-muted font-weight-light">  @{{element.username}}</span>
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
    </form>
    <div *ngFor="let addedUser of addedUsers" class="d-flex flex-row align-items-center">
            <button mat-icon-button id="{{i}}" *ngIf="i !== 0" (click)="removeItem($event)" class="text-danger"><mat-icon class="icon-16">remove_circle</mat-icon></button>
        <span>{{addedUser.name}}</span><span class="text-muted font-weight-light">&nbsp;&nbsp;@{{addedUser.username}}</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-center mt-4 mb-2 ml-4 mr-4">
            <button *ngIf="!creatingChannel" class="w-100" mat-raised-button [disabled]="addChannelForm.get('channelName').invalid || addedUsers.length === 0 || creatingChannel" (click)="addChannel()">CREAR</button>
            <mat-progress-spinner *ngIf="creatingChannel" mode="indeterminate" [diameter]="30">
                </mat-progress-spinner>
    </div>

</div>