<div class="d-flex flex-row justify-content-between">
        <h1 mat-dialog-title class="mt-4">Agregar miembro</h1>
        <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content class="d-flex flex-row pr-4 pt-3 pb-3 align-items-center justify-content-center">
            <form [formGroup]="addMemeberForm" class="d-flex flex-row w-100">
                <mat-form-field class="w-75 mr-3">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="addMemeberForm.get('name').invalid">Debe ingresar un nombre</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 mr-3">
                        <mat-label>Email</mat-label>
                        <mat-progress-spinner *ngIf="requestingEmail" mode="indeterminate" diameter="20" class="form-spinner"></mat-progress-spinner>
                        <input matInput formControlName="email" (blur)="validateEmail()" (input)="updateInput()">
                        <mat-error *ngIf="addMemeberForm.get('email').invalid">Debe ingresar un email valido</mat-error>
                        <span *ngIf="isEmailAvailable === false && addMemeberForm.get('email').valid" class="pt-1 text-subtitle text-danger">El usuario ingresado ya existe.</span>
                        <span *ngIf="isEmailAvailable === true && addMemeberForm.get('email').valid" class="pt-1 text-subtitle text-success">Usuario disponible.</span>
                    </mat-form-field>
                    <mat-form-field class="w-50 mr-3">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role">
                              <mat-option value="2">ADMINISTRATOR</mat-option>
                              <mat-option value="3">USER</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addMemeberForm.get('role').invalid">Debe ingresar un rol</mat-error>
                    </mat-form-field>
            </form>
                <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
                <button mat-icon-button><mat-icon>remove_circle</mat-icon></button>

    </div>
