<div class="w-100 h-100">
    <div class="grey-background box-shadow-strong h-100 w-100 p-4" [class.feed-container]="feedData.length === 0">
        <div class="h-100 w-100 pr-3" style="overflow: auto; max-height: 100%;" #feeds>
            <div class="w-100 mb-4 d-flex flex-row" *ngFor="let feed of feedData">
                <div class="profile-company-feed mt-1 ml-1" style="min-width: 40px;">
                    <img src="../../../assets/profile_imgs/pi_{{companyImage}}.svg" style="width: 25px; height: 25px;">
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between bg-white p-1 pb-2"
                        style="border-radius: 4px;">
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column pt-1 ml-2 pr-3">
                                <span class="font-weight-bold font-14">{{companyName}}</span>
                                <span class="font-14">{{feed.message}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row pt-2 text-muted pr-3 text-right">
                        <span class="font-10">{{getTime(feed.at)}}&nbsp;&nbsp;</span>
                        <span class="font-10"> {{getDate(feed.at)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>