.feed-container {
    background-image: url("../../../../assets/img/megaphone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    fill: #f8f9fa;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}