<mat-toolbar class="box-shadow bg-white">
    <div class="d-flex flex-row justify-content-between w-100 align-items-center">
        <div>
            <img src="../../../assets/img/hermes-title-purchase.svg" class="header-icon">
        </div>
        <mat-tab-group (selectedTabChange)="changeContent($event)">
                <mat-tab label="Feed"></mat-tab>
                <mat-tab label="Miembros"></mat-tab>
                <mat-tab label="Cuenta"></mat-tab>
              </mat-tab-group>
        <div class="d-flex flex-row align-items-center">
            <div class="profile-button mr-2">
                <img src="../../../assets/profile_imgs/pi_{{profile_img}}.svg" class="header-profile-img">
            </div>
            <div class="h6 m-0">
                <span class="font-weight-light text-dark">{{name}}</span>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>